.centerBtn {
  display: block;
  margin: 0 auto;
  position: relative;
}
.linkBtn {
  display: inline-block;
  color: #333;
  background-color: #fff;
  border-color: #ccc
}
#doctorLabel {
	margin-top: 7px;
}
.indent7 {
	text-indent: 7px;
}
th {
	text-align: center;
}
#buttonGroup {
	float: right;
}
.btn-info {
	float: right;
}
.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
#doctorRadio {
	margin-top: 3px;
}
#addHover:hover {
	color: #999999;
	cursor: pointer;
}
table tr td {
	text-align: center;
}
table thead tr {
	/*background: #c3e6cd;*/
}