th {
	text-align: center;
}
.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
  font-size: 30px;
  font-weight: bold;
  color: gray;
}
#doctorRadio {
	margin-top: 3px;
}
#addBtn:hover {
	color: #449d44;
	border-color: #398439;
	cursor: pointer;
}
#addBtn {
	color: #5cb85c;
	border-color: #4cae4c;
}
table tr td {
	text-align: center;
}
table thead tr {
	/*background: #c3e6cd;*/
}
#diagnosisForm{
	margin-top: 20px;
	margin-left: 40px;
}
#searchPatientButton{
	font-size: 15px;
	margin-top: -1px;
}
#addMed{
	float:right;
}
.glyphicon-calendar{
	font-size: 15px;
}
#nextAppointmentTime{

}
#medOther{
	display: inline;
	width:200px;
}
#searchPatientForm{

}
#searchPatientTextbox{
	width:300px;
}
.bold{
	font-weight: bold;
}
#diagnosisRecordWindow{
	margin-top: 20px;
	margin-left: 40px;
}
#patientProfile{
	margin-top: 20px;
	margin-left: 40px;
}
label{
	text-decoration: none;
	font-weight: normal;
}