.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
.btn-success {
	float:right;
}

.btn-primary {
	float:right;
}

#buttonGroup {
	margin-top: 30px;
}

#margin10 {
	margin-top: 10px;
}

#nurseLabel {
	margin-top: 7px;
	margin-bottom: 7px;
}