.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
  font-size: 30px;
  font-weight: bold;
  color: gray;
}
#buttonGroup {
	margin-top: 30px;
}
#searchPatient{
	margin-left:40px;
	margin-top: 20px;
}
#recordGeneralData{
	margin-left:40px; 
	margin-top:20px;
}
#nurseProfile{
	margin-left:40px;
	margin-top: 20px;
}
.textbox{background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	height: 34px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	color: #555;
}
.form-control{
	width:250px;
	display :inline;
}
#searchDoctorSchedule{
	margin-left:40px;
	margin-top: 20px;
}
