#dateLabel {
  font-family: 'superspace_regularregular';
  font-size: 25px;
  font-weight: bold;
}
.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
  font-size: 30px;
  font-weight: bold;
  color: gray;
}
.btn-success {
	float:right;
}
.btn-primary {
	float:right;
}
#buttonGroup {
	margin-top: 30px;
}
#searchPatient{
	margin-left:40px;
	margin-top: 20px;
}
#recordGeneralData{
	margin-left:40px; 
	margin-top:20px;
}

