.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
table, table thead tr th {
  text-align: center;
}
.btn-info{
	float:right;
}

.btn-primary{
	float:right;
}

.btn-success{
	float:right;
	margin-left: 10px;
}

#prescription{
	margin-top: 5%;
}
.moveDown2 {
	margin-top: 2%;
}