.panel-heading{
	background-color: #c3e6cd !important;
}
.panel-title{
	font-size: 30px;
	font-weight: bold;
	color: gray;
}
.textbox{background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	height: 34px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	color: #555;
}
.bold{
	font-weight: bold;
}
table,th{
	text-align: center;
}
.glyphicon-calendar{
	font-size:15px;
}
#bloodTypeField{
	margin-top:-3px;
}
#birthDateField{
	margin-top:-5px;
}
.textbox50px{
	width :50px;
}
.textbox300px{
	width :300px;
}
.textbox100px{
	width :100px;
}
.textbox500px{
	width :500px;
}
.textbox200px{
	width :200px;
}
.textbox70px{
	width :70px;
}
.textbox150px{
	width :150px;
}
#addDrugButton{
	margin-left: 20px;
}
#registerButton{
	float:right;
}
#createAppointmentForm{
	margin-top: 10px;
	margin-left: 40px;
}
#searchButton{
	margin-left: 20px;
	font-size: 15px;
	margin-top: -1px;
}
#createAppointmentButton{
	margin-left: 20px;
}
#appointmentTable{
	margin-left: 40px;
}
#importScheduleForm{
	margin-left: 40px;
	margin-top: 10px;
}
#addStaffForm{
	margin-left:40px;
	margin-top:10px;
}
#addStaffButton{
	margin-left: 30px;
}
#manageStaffPanel{
	width:500px;
}
#manageStaffForm{
	margin-left:40px;
	margin-top:20px;
}
#editStaffButton{
	width: 180px;
}
#deleteStaffButton{
	width: 180px;
}
#modalHeader{
	background-color: red;
	color:white;
	border-radius: 5px;
}
#manageAppointmentForm{
	margin-left:40px;
	margin-top:20px;
}
#importDoctorSchedule{
	margin-left:40px;
	margin-top:20px;
}
#submitManage{
	width: 180px;
}
#confirmEdit{
	width: 180px;
}
#cancelAppintmentModalTitle{
	background :red;
}
#reschedulePatientAppointmentForm{
	margin-left:40px;
	margin-top:20px;
}
#confirmAppointmentForPatientwindow{
	margin-left:40px;
	margin-top:20px;
}
#staffProfile{
	margin-left:40px;
	margin-top:20px;
}
.form-control{
	width:250px;
	display :inline;
}